logic_app_workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "parameters": {},
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "GET",
                    "schema": {}
                }
            }
        },
        "actions": {
            "Initialize_Action": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "action",
                            "type": "String",
                            "value": "@coalesce(triggerOutputs()?['queries']?['action'], 'default')"
                        }
                    ]
                },
                "runAfter": {}
            },
            "Switch_Action": {
                "type": "Switch",
                "expression": "@variables('action')",
                "cases": {
                    "Case_Toggle": {
                        "case": "toggle",
                        "actions": {
                            "Get_App_Status_Toggle": {
                                "type": "Http",
                                "inputs": {
                                    "method": "GET",
                                    "uri": "https://management.azure.com/subscriptions/81b40ada-2c53-4c7b-911c-8ceaeeae3046/resourceGroups/RG-Anniversary-EastUS/providers/Microsoft.App/containerApps/anniversary-app?api-version=2024-03-01",
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                },
                                "runAfter": {}
                            },
                            "Condition_Is_Running": {
                                "type": "If",
                                "expression": {
                                    "and": [
                                        {
                                            "equals": [
                                                "@body('Get_App_Status_Toggle')?['properties']?['runningStatus']",
                                                "Running"
                                            ]
                                        }
                                    ]
                                },
                                "actions": {
                                    "Stop_App_Toggle": {
                                        "type": "Http",
                                        "inputs": {
                                            "method": "POST",
                                            "uri": "https://management.azure.com/subscriptions/81b40ada-2c53-4c7b-911c-8ceaeeae3046/resourceGroups/RG-Anniversary-EastUS/providers/Microsoft.App/containerApps/anniversary-app/stop?api-version=2024-03-01",
                                            "authentication": {
                                                "type": "ManagedServiceIdentity"
                                            }
                                        },
                                        "runAfter": {}
                                    },
                                    "Wait_Loop_Stop": {
                                        "type": "Until",
                                        "expression": "@equals(body('Get_Status_Loop_Stop')?['properties']?['runningStatus'], 'Stopped')",
                                        "limit": {
                                            "count": 20,
                                            "timeout": "PT2M"
                                        },
                                        "actions": {
                                            "Delay_Stop": {
                                                "type": "Wait",
                                                "inputs": {
                                                    "interval": {
                                                        "count": 5,
                                                        "unit": "Second"
                                                    }
                                                },
                                                "runAfter": {}
                                            },
                                            "Get_Status_Loop_Stop": {
                                                "type": "Http",
                                                "inputs": {
                                                    "method": "GET",
                                                    "uri": "https://management.azure.com/subscriptions/81b40ada-2c53-4c7b-911c-8ceaeeae3046/resourceGroups/RG-Anniversary-EastUS/providers/Microsoft.App/containerApps/anniversary-app?api-version=2024-03-01",
                                                    "authentication": {
                                                        "type": "ManagedServiceIdentity"
                                                    }
                                                },
                                                "runAfter": {
                                                    "Delay_Stop": [
                                                        "Succeeded"
                                                    ]
                                                }
                                            }
                                        },
                                        "runAfter": {
                                            "Stop_App_Toggle": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "Response_Stopped": {
                                        "type": "Response",
                                        "inputs": {
                                            "statusCode": 200,
                                            "body": {
                                                "message": "Anniversary App is now Stopped.",
                                                "status": "Stopped"
                                            }
                                        },
                                        "runAfter": {
                                            "Wait_Loop_Stop": [
                                                "Succeeded"
                                            ]
                                        }
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "Start_App_Toggle": {
                                            "type": "Http",
                                            "inputs": {
                                                "method": "POST",
                                                "uri": "https://management.azure.com/subscriptions/81b40ada-2c53-4c7b-911c-8ceaeeae3046/resourceGroups/RG-Anniversary-EastUS/providers/Microsoft.App/containerApps/anniversary-app/start?api-version=2024-03-01",
                                                "authentication": {
                                                    "type": "ManagedServiceIdentity"
                                                }
                                            },
                                            "runAfter": {}
                                        },
                                        "Wait_Loop_Start": {
                                            "type": "Until",
                                            "expression": "@equals(body('Get_Status_Loop_Start')?['properties']?['runningStatus'], 'Running')",
                                            "limit": {
                                                "count": 20,
                                                "timeout": "PT2M"
                                            },
                                            "actions": {
                                                "Delay_Start": {
                                                    "type": "Wait",
                                                    "inputs": {
                                                        "interval": {
                                                            "count": 5,
                                                            "unit": "Second"
                                                        }
                                                    },
                                                    "runAfter": {}
                                                },
                                                "Get_Status_Loop_Start": {
                                                    "type": "Http",
                                                    "inputs": {
                                                        "method": "GET",
                                                        "uri": "https://management.azure.com/subscriptions/81b40ada-2c53-4c7b-911c-8ceaeeae3046/resourceGroups/RG-Anniversary-EastUS/providers/Microsoft.App/containerApps/anniversary-app?api-version=2024-03-01",
                                                        "authentication": {
                                                            "type": "ManagedServiceIdentity"
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Delay_Start": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "Start_App_Toggle": [
                                                    "Succeeded"
                                                ]
                                            }
                                        },
                                        "Response_Started": {
                                            "type": "Response",
                                            "inputs": {
                                                "statusCode": 200,
                                                "body": {
                                                    "message": "Anniversary App is now Running.",
                                                    "status": "Running"
                                                }
                                            },
                                            "runAfter": {
                                                "Wait_Loop_Start": [
                                                    "Succeeded"
                                                ]
                                            }
                                        }
                                    }
                                },
                                "runAfter": {
                                    "Get_App_Status_Toggle": [
                                        "Succeeded"
                                    ]
                                }
                            }
                        }
                    },
                    "Case_Start": {
                        "case": "start",
                        "actions": {
                            "Start_App_Force": {
                                "type": "Http",
                                "inputs": {
                                    "method": "POST",
                                    "uri": "https://management.azure.com/subscriptions/81b40ada-2c53-4c7b-911c-8ceaeeae3046/resourceGroups/RG-Anniversary-EastUS/providers/Microsoft.App/containerApps/anniversary-app/start?api-version=2024-03-01",
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                },
                                "runAfter": {}
                            },
                            "Response_Starting_Force": {
                                "type": "Response",
                                "inputs": {
                                    "statusCode": 200,
                                    "body": {
                                        "message": "Exec: Force Starting..."
                                    }
                                },
                                "runAfter": {
                                    "Start_App_Force": [
                                        "Succeeded"
                                    ]
                                }
                            }
                        }
                    },
                    "Case_Stop": {
                        "case": "stop",
                        "actions": {
                            "Stop_App_Force": {
                                "type": "Http",
                                "inputs": {
                                    "method": "POST",
                                    "uri": "https://management.azure.com/subscriptions/81b40ada-2c53-4c7b-911c-8ceaeeae3046/resourceGroups/RG-Anniversary-EastUS/providers/Microsoft.App/containerApps/anniversary-app/stop?api-version=2024-03-01",
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                },
                                "runAfter": {}
                            },
                            "Response_Stopping_Force": {
                                "type": "Response",
                                "inputs": {
                                    "statusCode": 200,
                                    "body": {
                                        "message": "Exec: Force Stopping..."
                                    }
                                },
                                "runAfter": {
                                    "Stop_App_Force": [
                                        "Succeeded"
                                    ]
                                }
                            }
                        }
                    }
                },
                "default": {
                    "actions": {
                        "Return_HTML": {
                            "type": "Response",
                            "inputs": {
                                "statusCode": 200,
                                "headers": {
                                    "Content-Type": "text/html"
                                },
                                "body": "<!DOCTYPE html><html><head><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"><title>Anniversary Control</title><style>body{font-family:-apple-system,sans-serif;text-align:center;padding:40px 20px;background:#f2f2f7}h1{margin-bottom:40px}button{display:block;width:100%;padding:20px;margin:20px 0;font-size:20px;border:none;border-radius:15px;background:white;color:#007aff;box-shadow:0 2px 10px rgba(0,0,0,0.1);cursor:pointer}button:active{background:#e5e5ea}.status{margin-bottom:30px;font-weight:bold;color:#8e8e93}</style></head><body><h1>Anniversary App Control</h1><div id=\"status\" class=\"status\">Ready</div><button onclick=\"doAction('toggle')\">Smart Toggle</button><button onclick=\"doAction('start')\" style=\"color:#34c759\">Start Force</button><button onclick=\"doAction('stop')\" style=\"color:#ff3b30\">Stop Force</button><script>function doAction(act){document.getElementById('status').innerText='Processing...';fetch(window.location.href+'&action='+act).then(r=>r.json()).then(d=>{document.getElementById('status').innerText=d.message}).catch(e=>{document.getElementById('status').innerText='Error: '+e})}</script></body></html>"
                            },
                            "runAfter": {}
                        }
                    }
                },
                "runAfter": {
                    "Initialize_Action": [
                        "Succeeded"
                    ]
                }
            }
        },
        "outputs": {}
    }
}